{% extends 'layouts/partials/body_home.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h3>LYCEE D'EXCELLENCE DE DAKAR</h3>
        <p>
            Le Lycée d’Excellence de Dakar (LED) est un établissement d’enseignement moyen secondaire à programme sénégalais qui a pour vocation de faire de l’école un lieu d’acquisition de connaissances et de compétences. Mais également un lieu d'épanouissement, de développement personnel et d’apprentissage de l’autonomie où chaque élève doit pouvoir réaliser un parcours scolaire de réussite.
        </p>
        <hr>
        <a href="{{ url_for('login') }}" class="btn btn-success">connectez vous !</a>
        <hr>
    </div>
</div>
{% endblock %}